body {
	font-family: 'Open Sans', sans-serif;
	color: #333;
	margin:0;
	padding:0;
}

html,body {height:100%;}

.page {
    min-height:100%;
    height:auto !important;
    height:100%;
}

.inner {
	padding-bottom: 330px;
}

.container {
	max-width: 1024px;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear:both; }

.helper {
    display: inline-block;
    vertical-align:middle;
    height: 100%;
    width:0px;
}

img {
	max-width: 100%;
	max-height: 100%;
}

h1 {
	font-size: 24px;
    font-weight: 700;
	margin: 0 0 30px;
}

h2 {
	font-size: 20px;
    font-weight: 700;
}

h2 span {
	border-bottom: 1px solid #d06c00;
}

.bg-danger {
	color: #a50000;
	padding: 5px 8px;
}

.bg-success {
	color: #005400;
	padding: 5px 8px;
}

.header__logo {
	margin: 25px 0 0;
	float: left;
	width: 300px;
}

.header__logo__header {
	display: block;
	color: #333;
	font-size: 38px;
	font-weight: 700;
	text-transform: uppercase;
}

.header__logo__header:hover,
.header__logo__header:focus {
	color: #333;
	text-decoration: none;
}

.header__logo__descr {
	font-size: 14px;
}

.header__links {
	float: left;
	width: 160px;
	margin: 15px 0 10px;
	padding: 0 0 0 25px;
	text-align: center;
}

.header__links_link {
	color: #333;
	display: inline-block;
	margin: 18px 0 5px;
	text-decoration: underline;
}

.header__links_link:hover {
	color: #333;
	text-decoration: none;
}

.header__links_link .icon {
	margin-right: 5px;
}

.header__links_btn {
	display: block;
}

.btn-primary {
	background: #e77800;
	background: linear-gradient(#e77800, #c66700);
	border-color: #ca6900;
	color: #fff;
}

.btn-primary:hover {
	color: #fff;
	background: linear-gradient(#da7100, #b15c00);
	border-color: #b75f00;
}

.btn-primary:focus,
.btn-primary:active:focus {
	color: #fff;
	border-color: #b75f00;
}

.header__time {
	background: url(../img/header-separator.png) no-repeat;
	float: left;
	width: 250px;
	padding: 0 0 0 35px;
	margin: 15px 0 0 25px;
	font-size: 14px;
	height: 85px;
}

.header__time__header {
	color: #7d7d7d;
	margin: 18px 0 5px;
}

.header__contacts {
	background: url(../img/header-separator.png) no-repeat;
	float: right;
	width: 250px;
	padding: 0 0 0 35px;
	margin: 15px 0 0 0;
}

.header__contacts__phone {
	font-size: 25px;
	font-weight: 700;
	line-height: 1;
	margin: 10px 0 5px;
}

.header__contacts__email {
	font-size: 17px;
	margin: 0;
}

.header__contacts__phone .icon {
	margin: 0 8px 0 2px;
}

.header__contacts__email .icon {
	margin: 0 5px 0 0;
}

.header__contacts__time {
	color: #7d7d7d;
	display: none;
    font-size: 14px;
}

.icon {
	display: inline-block;
	vertical-align: middle;
	background: url(../img/sprites.png);
}

.icon-like {
	background-position: 0 0;
	width: 23px;
	height: 22px;
}

.icon-demontage {
	background-position: 0 -76px;
	width:56px;
	height: 65px;
}

.icon-tools {
	background-position: -63px -75px;
	width: 68px;
	height: 66px;
}

.icon-car {
	background-position: -137px -85px;
	width: 75px;
	height: 39px;
}

.icon-time {
	background-position: -215px -76px;
	width: 68px;
	height: 65px;
}

.icon-price {
	background-position: -288px -76px;
	width: 59px;
	height: 65px;
}

.icon-card {
	background-position: -352px -76px;
	width: 74px;
	height: 65px;
}

.icon-person {
	background-position: -437px -76px;
	width: 51px;
	height: 65px;
}

.icon-mobile {
	background-position: -494px -76px;
	width: 65px;
	height: 65px;
}

.icon-phone {
	background-position: -27px 0;
	width: 11px;
	height: 17px;
}

.icon-email {
	background-position: -42px 0;
	width: 15px;
	height: 10px;
}

.icon-phone-white {
	background-position: 0 -37px;
	width: 11px;
	height: 17px;
}

.icon-email-white {
	background-position: -15px -37px;
	width: 15px;
	height: 10px;
}

.icon-tonn {
	background-position: -148px 0;
	width: 16px;
	height: 16px;
}

.icon-time-2 {
	background-position: -167px 0;
	width: 11px;
	height: 16px;
}

.icon-m3 {
	background-position: -181px 0;
	width: 16px;
	height: 16px;
}

header {
	margin-bottom: 15px;
}

nav {
	background: #e77800;
	background: linear-gradient(#e77800, #c66700);
	position: relative;
}

nav.fixed {
	position: fixed;
	top: 0;
    z-index: 3;
	width: 100%;
}

nav a {
	color: #fff;
	font-size: 16px;
	transition: background .2s, color .2s;
}

.nav>li>a {
	padding-left: 33px;
	padding-right: 33px;
}

.nav>li>a:hover,
.nav>li.active>a {
	text-decoration: none;
    background-color: #eee;
	color: #333;
}

.navbar-nav>li {
	background: url(../img/menu-separator.png) no-repeat 0 50%;
}

.navbar-nav>li:first-child {
	background: none;
}

.navbar-nav>li>a {
	padding-top: 15px;
    padding-bottom: 15px;
}

.nav-border {
	position: absolute;
	top: 1px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
}

.banner {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	padding: 0 0 40px;
}

.banner-left {
	float: left;
	width: 50%;
	font-size: 18px;
}

.banner-left__header {
	font-size: 36px;
	font-weight: 400;
	border-bottom: 1px solid #d06c00;
	line-height: 1.4;
	margin: 30px 0 0;
	text-transform: uppercase;
}

.banner-left__list {
    list-style: square;
	padding: 0 0 0 20px;
	font-size: 18px;
	margin: 15px 0 20px 0;
}

.banner-left__list li {
	margin-bottom: 5px;
}

.banner-left__descr {
	font-size: 18px;
	font-weight: 700;
}

.banner-right {
  display: none;
	float: right;
	width: 420px;
	margin: 30px 0 0;
}

.order-form {
	background: #fff;
	border: 2px solid #c66700;
	border-radius: 5px;
	color: #333;
	font-size: 16px;
	padding: 10px 20px 20px;
}

.modal-body .order-form {
	border: none;
}

.order-form__header {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
}

.order-form .btn {
	border-radius: 0;
	box-shadow: 0 2px 0 #824300;
	font-size: 16px;
	padding: 10px 0;
	margin: 10px 0 0;
	width: 100%;
}

h1,
.header {
	font-size: 22px;
	font-weight: 700;
	text-align: center;
}

h1 span,
.header span,
.header-2 span {
	border-bottom: 1px solid #d06c00;
}

h1 {
	text-align: left;
}

.header-2 {
	font-size: 22px;
	font-weight: 700;
}

.breadcrumb {
	background: none;
	padding: 5px 0;
    margin: 0;
}

.breadcrumb a {
	color: #333;
	text-decoration: underline;
}

.breadcrumb a:hover,
.breadcrumb a:focus {
	text-decoration: none;
}

.breadcrumb-wrap {
	background: #efefef;
	border-bottom: 1px solid #e6e6e6;
}

.why-we {
	padding: 30px 0;
}

.why-we-list {
	font-size: 16px;
	list-style: none;
	padding: 0;
	text-align: center;
}

.why-we-list li {
	position: relative;
	height: 200px;
}

.why-we-list__counter {
	background: #e77800;
    background: radial-gradient(#e77800, #c66700);
	border-radius: 15px;
	color: #fff;
	font-weight: 700;
	padding: 4px 0;
	position: absolute;
	width: 30px;
	height: 30px;
	top: 15px;
	left: 70px;
}

.why-we-list__icon {
	height: 100px;
}

.why-we .header {
	margin-bottom: 40px;
}

.block-grey {
	background: #e1e1e1;
}

.slider {
	margin-bottom: 15px;
}

.slick-list {
	max-width: 975px;
}

.slick-next,
.slick-prev {
	background: url(../img/sprites.png) no-repeat;
	border: 0;
	width: 41px;
	height: 71px;
	outline: 0;
	padding: 0;
	overflow: hidden;
	text-indent: -100px;
	position: absolute;
	top: 80px;
	z-index: 1;
}

.slick-next {
	background-position: -102px 0;
	right: -30px;
}

.slick-prev {
	background-position: -60px 0;
	left: -60px;
}

.card {
	margin-bottom: 20px;
}

.card__wrap {
	background: #fff;
	border: 1px solid #c1c1c1;
	display: block;
	position: relative;
	transition: .2s border-color;
}

.card__wrap:hover,
.card__wrap:focus {
	border-color: #e17500;
	text-decoration: none;
}

.slick-slide .card__wrap {
	width: 300px;
}

.block-slider {
	padding: 20px 0;
}

.block-slider .header {
	margin-bottom: 20px;
}

.card__counter {
	background: #e77800;
    background: linear-gradient(#e77800, #c66700);
	border-radius: 5px;
	color: #fff;
	font-size: 12px;
	padding: 2px 10px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.card__title {
	color: #333;
	font-size: 16px;
	padding: 0 10px;
}

.slider-all-wrap {
	text-align: right;
	margin: 0;
}

.slider-all {
	color: #333;
	font-size: 12px;
	margin: 0 30px 0 0;
	text-decoration: underline;
}

.slider-all:hover,
.slider-all:focus {
	color: #333;
	text-decoration: none;
}

.how-we-work {
	padding: 30px 0 50px;
	font-size: 16px;
}

.how-we-work .header {
	margin-bottom: 40px;
}

.how-we-work-list {
	list-style: none;
	margin: 0 0 0 40px;
	padding: 0;
	text-align: center;
}

.how-we-work-list li {
	background: url(../img/arrow-right.png) no-repeat 95% 50%;
	float: left;
	width: 240px;
	padding: 0 80px 0 0;
}

.how-we-work-list li:last-child {
	background: none;
	padding: 0;
    width: 200px;
}

.how-we-work-list__icon {
	height: 100px;
}

.block-reviews {
	padding: 30px 0 50px;
}

.review__author {
	float: left;
	width: 180px;
}

.review__author img {
	border-radius: 100px;
}

.review__wrap {
	height: 160px;
	float: right;
	width: 780px;
}

.review__comment {
	border: 1px solid #c1c1c1;
	border-radius: 10px;
	display: inline-block;
	font-size: 16px;
	padding: 15px;
	position: relative;
	max-width: 98%;
	vertical-align: middle;
}

.review__comment::before {
	content: "";
	background: url(../img/review-angle.png) no-repeat;
	width: 18px;
	height: 14px;
	position: absolute;
	top: 20px;
    left: -18px;
	z-index: 1;
}

.review__comment p:last-child {
	margin: 0;
}

.review {
	margin-bottom: 30px;
}

.reviews-btns {
	text-align: center;
}

.reviews-all {
	color: #333;
	text-decoration: underline;
	margin: 0 0 0 10px;
}

.reviews-all:hover,
.reviews-all:focus {
	color: #333;
	text-decoration: none;
}

.review__name {
	font-weight: 700;
	margin: 0 0 5px;
}

footer {
	background: #333;
	color: #fff;
	height: 240px;
	margin-top: -240px;
}

footer a {
	color: #fff;
}

footer a:hover,
footer a:focus {
	color: #fff;
}

.footer-top {
	background: url(../img/footer.png);
	border-bottom: 1px solid #b8b8b8;
	height: 26px;
	position: relative;
	margin-bottom: 10px;
}

.footer-top::before {
	content: "";
	background: #b8b8b8;
	width: 99.9%;
	height: 1px;
	position: absolute;
	top: 1px;
	left: 1px;
}

.footer-top .container {
	position: relative;
}

.footer-1 {
	background: url(../img/sprites.png) no-repeat -99px -200px;
	width: 121px;
	height: 30px;
	position: absolute;
	top: -8px;
	left: 0;
}

.footer-2 {
	background: url(../img/sprites.png) no-repeat -99px -237px;
	width: 111px;
	height: 73px;
	position: absolute;
	top: -43px;
    left: 310px;
}

.footer-3 {
	background: url(../img/sprites.png) no-repeat -99px -312px;
	width: 122px;
	height: 53px;
	position: absolute;
	top: -31px;
    left: 600px;
}

.footer-4 {
	background: url(../img/sprites.png) no-repeat 0 -164px;
	width: 91px;
	height: 194px;
	position: absolute;
	top: -167px;
    right: 10px;
}

.footer-logo {
	float: left;
	width: 270px;
}

.footer-logo__link {
	font-size: 52px;
	font-weight: 700;
	margin: 0;
}

.footer-logo__link a:hover,
.footer-logo__link a:focus {
	text-decoration: none;
}

.footer-logo__descr p {
	font-size: 14px;
	margin: 0 0 5px;
}

.footer-menu {
	float: left;
	width: 420px;
	font-size: 16px;
	margin: 10px 0 0 25px;
}

.footer-menu__list {
	list-style: none;
	padding: 0;
}

.footer-menu__list li {
	display: inline-block;
	width: 200px;
}

.footer-time {
	font-size: 14px;
	float: left;
	width: 220px;
	margin: 10px 0 0;
}

.footer-time p {
	margin: 0 0 5px;
}

.footer-contacts {
	float: right;
	width: 220px;
	margin: 10px 0 0;
	text-align: right;
}

.footer-contacts__phone {
	font-size: 24px;
	font-weight: 700;
	margin: 0;
}

.footer-contacts__email {
	font-size: 17px;
	margin: 0 0 8px;
}

.footer-contacts__link {
	font-size: 16px;
}

.footer-contacts__link a {
	text-decoration: underline;
}

.footer-contacts__link a:hover,
.footer-contacts__link a:focus {
	text-decoration: none;
}

.footer-contacts .icon {
	margin: 0 8px 0 0;
}

.order-form .bg-danger,
.order-form .bg-success {
	display: none;
	margin: 15px 0 0;
}

.cars {
	margin-top: 25px;
	margin-bottom: 20px;
}

.car__title {
    color: #d96a00;
	font-size: 16px;
	font-weight: 700;
	padding: 5px;
	text-align: center;
}

.car__price {
    color: #289103;
    font-size: 18px;
	margin: 0 0 5px;
}

.car__phone {
	margin: 10px 0 0;
}

.car__phone-label {
	display: block;
}

.car__phone-number {
	display: inline-block;
	font-size: 16px;
	margin: 2px 0 0;
}

.car__image,
.gr-image {
	height: 200px;
    text-align: center;
}

.car__properties {
	padding: 0;
	list-style-image: url(../img/car-li.jpg);
	margin: 55px 0 10px;
}

.car__property {
	font-weight: 700;
}

.car__price-sum {
	font-weight: 700;
}

.car__price-label {
	font-size: 14px;
}

.why-we-vm .why-we-list {
	margin-top: 40px;
}

.payment-way-list {
	list-style: none;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 0;
	text-align: center;
}

.payment-way-list__image {
	height: 150px;
}

.payment-way-list__title {
	font-size: 16px;
	font-weight: 700;
}

.block-contact {
	background: #36b71c;
	background: linear-gradient(#36b71c, #25b71e);
	margin: 50px 0 110px;
	padding: 25px 0;
	height: 295px;
}

.block-contact .container {
	position: relative;
}

.block-contact .container::before {
	content: "";
	background: url(../img/mobile.png) no-repeat;
	width: 405px;
	height: 408px;
	position: absolute;
	top: -85px;
	right: 0;
}

.block-contact {
	color: #fff;
}

.block-contact-phone-header {
	font-size: 26px;
	text-shadow: 0px 1px 0px #087300;
	margin: 0;
}

.block-contact-phone {
	font-size: 50px;
	font-weight: 700;
	line-height: 1;
	margin: 0 0 30px;
	text-shadow: 0px 1px 0px #087300;
}

.block-contact-email-header {
	font-size: 26px;
	text-shadow: 0px 1px 0px #087300;
	margin: 0;
}

.block-contact-email {
	font-size: 35px;
	font-weight: 700;
	line-height: 1;
	text-shadow: 0px 1px 0px #087300;
}

.pricelist h2 {
	margin: 40px 0 20px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #efefef;
}

.pricelist-image img {
	width: 130px;
}

.pricelist-left {
	float: left;
	width: 710px;
}

.pricelist-right {
	float: right;
	width: 220px;
	margin: 100px 0 0;
}

.menu-aside.nav>li>a {
	color: #333;
	padding-left: 19px;
    padding-right: 19px;
}

.menu-aside.nav>li:first-child>a {
	border-radius: 5px 5px 0 0;
}

.menu-aside.nav>li:last-child>a {
	border-radius: 0 0 5px 5px;
}

.menu-aside__title {
	background: #e77800;
	border-bottom: 1px solid #bf6400;
	color: #fff;
	padding: 10px 16px;
	text-align: center;
	text-shadow: 0 1px 0 #bf6400;
	text-transform: uppercase;
}

.menu-aside-demontage .menu-aside__title {
	font-size: 12px;
}

.pricelist-price {
	white-space: nowrap;
}

.pricelist-properties {
	list-style: none;
	padding: 0;
}

.pricelist-property {
	margin: 0;
}

.aside-left {
	float: left;
	width: 200px;
}

.column-right {
	float: right;
	width: 780px;
}

.header-mtop {
	margin-top: 30px;
}

.gallery-item {
	margin-bottom: 20px;
}

.gallery-item img {
	width: 100%;
}

.gallery-item__link {
	border: 1px solid #c1c1c1;
	display: inline-block;
}

.menu-pricelist.fixed {
	position: fixed;
    top: 65px;
    width: 230px;
}

.article__teaser {
	border: 1px solid #c1c1c1;
	margin-bottom: 20px;
}

.article__background {
	display: block;
	position: relative;
}

.article__title {
	background: rgba(0,0,0,.5);
	color: #fff;
	padding: 10px;
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 16px;
}

.article__descr {
	padding: 10px;
}

.article__more {
	margin: 0;
	text-align: right;
}

.dtservice {
	margin: 0 0 30px;
}

.dtservice__wrap {
	text-align: center;
}

.dtservice__image {
	height: 180px;
	margin-bottom: 10px;
}

.dtservice-2 {
	margin: 0 0 20px;
}

.dtservice-2 .dtservice__title {
    background: rgba(0,0,0,.5);
	border-radius: 0 0 5px 5px;
	color: #fff;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 5px 10px;
}

.dtservice-2 .dtservice__wrap {
	position: relative;
    display: block;
}

.dtservice-2 .dtservice__wrap:hover .our-work__cover {
	opacity: 0;
}

.dtservice-2 img {
	border-radius: 5px;
	width: 100%;
}

.our-work__image img {
	border-radius: 5px;
}

.our-work__wrap {
	display: block;
	position: relative;
}

.our-work__wrap:hover .our-work__cover {
	opacity: 0;
}

.our-work__title {
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 5px 10px;
}

.our-work__counter {
	position: absolute;
	top: 85px;
	left: 135px;
	color: #fff;
	font-size: 30px;
}

.our-work__cover {
	background: rgba(0,0,0,.2);
	border-radius: 5px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	transition: .2s opacity;
}

.pricelist .header {
	margin: 20px 0 20px;
}

.top {
	position: fixed;
    bottom: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    z-index: 1;
    background: #757575;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: .4;
}

.top:hover,
.top:focus {
	color: #fff;
	opacity: .8;
}

.review-form {
	background: #e6e6e6;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
	display: none;
    margin: 0 0 20px;
}

.review-form textarea {
	height: 100px;
}

.payment-way .header {
	margin: 20px 0 10px;
}

.content-our-works,
.content-pricelist {
	margin: 30px 0 0;
}

.car-wrap {
	margin-bottom: 40px;
}

.car {
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 40px;
	position: relative;
}

.car-wrap:nth-child(odd) {
	background: url(../img/car-separator-vertical.png) no-repeat 100% 50%;
}

.car-left,
.car-right {
	padding: 0;
}

.table100 {
	width: 100px;
}

.content__content {
	font-size: 16px;
	text-align: justify;
}

.content__content ul {
	padding: 0 0 0 20px;
}

.pricelist__item-header,
.pricelist__item {
	text-align: center;
}

.cars-wrap .header {
	margin: 20px 0 40px;
}

.gr-wrap {
	padding: 40px 0;
}

.car__icon {
	display: inline-block;
	text-align: center;
	width: 18px;
}

.gr-service {
	padding: 0 30px;
	position: relative;
}

.gr-wrap .header {
	margin: 0px 0 40px;
}

.block-about {
	padding: 0 0 20px;
}

.block-about .header {
	margin-bottom: 20px;
}

.dt-services {
	text-align: center;
}

.dt-service {
	margin-bottom: 25px;
}

.dt-service__image {
	height: 200px;
}

.dt-service__title {
	height: 50px;
}

.dt-service__btn {
	margin: 0 0 30px;
	text-align: center;
}

.dt-services-wrap .header {
	margin: 20px 0 30px;
}

.menu-mobile {
	display: none;
	text-align: center;
}

.menu-mobile .nav {
	display: none;
}

.mobile-menu-show {
	display: block;
	padding-top: 15px;
    padding-bottom: 15px;
}

.mobile-menu-show:hover,
.mobile-menu-show:focus {
	text-decoration: none;
    color: #fff;
}

.menu-mobile .container {
	padding: 0;
}

.phone_mobile {
	display: none;
}

.phone_mobile a {
	color: #333;
}

.block-contact-phone a {
	color: #fff;
}

footer .container a {
	color: #fff;
}

@media (max-width: 1199px) {
	
	.nav>li>a {
		padding-left: 29px;
		padding-right: 29px;
	}
	
	.header__links {
		padding: 0 0 0 25px;
		width: 160px;
	}
	
	.header__time {
		background: none;
		padding: 0;
		width: 210px;
	}
	
	.header__contacts {
		width: 240px;
	}
	
	.slick-next {
		right: -50px;
	}
	
	.review__wrap {
		width: 735px;
	}
	
	.column-right {
		width: 730px;
	}
}

@media (max-width: 1075px) {
	
	.block-slider .container {
		padding: 0 50px;
	}
	
	.slick-slide .card__wrap {
		width: 95%;
	}
	
	.slick-slide .card__title {
		font-size: 15px;
	}
	
}

@media (max-width: 992px) {
	
	.why-we-list__counter {
		left: 30%;
	}
	
	.nav>li>a {
		padding-left: 12px;
		padding-right: 12px;
		font-size: 15px;
	}
	
}

@media (max-width: 991px) {
	
	.header__time {
		display: none;
	}
	
	.header__contacts__time {
		display: block;
	}
	
	.header__contacts {
		background: none;
		padding: 0;
		width: 220px;
	}
	
	.header__links {
		margin-left: 15px;
	}
	
	.banner-right {
		width: 48%;
	}
	
	.banner-left__header {
		font-size: 29px;
	}
	
	.banner-left__list,
	.banner-left__descr	{
		font-size: 17px;
	}
	
	.order-form {
		font-size: 16px;
	}
	
	.inner {
		padding-bottom: 382px;
	}
	
	footer {
		height: 302px;
		margin-top: -302px;
	}
	
	.footer-contacts {
		float: right;
	}
	
	.footer-menu {
		float: right;
		width: 180px;
	}
}

@media (max-width: 768px) {
	
	.header__logo {
		float: none;
		width: 100%;
	}
	
	.header__time {
		display: block;
		width: 250px;
	}
	
	.header__contacts {
		position: absolute;
		top: 5px;
		right: 5px;
	}
	
	.header__contacts__time {
		display: none;
	}
	
	.menu-destop {
		display: none;
	}
	
	.menu-mobile {
		display: block;
	}
	
	.nav {
		margin: 0;
	}
	
	.nav>li>a {
		border-top: 1px solid #ffd9b1;
		font-size: 16px;
	}
	
	.navbar-nav>li {
		background: none;
	}
	
	.banner-left,
	.banner-right {
		float: none;
		width: 100%;
	}
	
	.block-slider .container {
		padding: 0 55px;
	}
	
	.slick-prev {
		left: -52px;
	}
	
	.block-contact .container::before {
		display: none;
	}
	
	.inner {
		padding-bottom: 90px;
	}
	
	footer {
		height: auto;
		margin: 0;
	}
	
	.footer-contacts {
		margin: 5px 25px 0;
		text-align: left;
		margin: 0;
		float: none;
	}
	
	.footer-menu {
		margin: 10px 0 0 0;
	}
	
	.footer-2 {
		left: 250px;
	}
	
	.footer-3 {
		left: 480px;
	}
	
	.phone_mobile {
		display: inline-block;
	}
	
	.phone_desktop {
		display: none;
	}
}

@media (max-width: 575px) {
	
	.header__logo,
	.header__links,
	.header__time,
	.header__contacts {
		margin: 0;
		float: none;
		width: 100%;
		height: auto;
		text-align: center;
	}
	
	.header__links {
		display:  none;
	}
	
	.header__logo {
		margin: 20px 0;
	}
	
	.header__links {
		padding: 0;
	}
	
	.header__links_link {
		margin: 0 0 10px;
	}
	
	.header__contacts {
		position: initial;
		top: auto;
		right: auto;
	}
	
	.slick-slide img {
		width: 100%;
	}
	
	.footer-2,
	.footer-3 {
		display: none;
	}
	
	.footer-logo,
	.footer-menu,
	.footer-contacts,
	.footer-time {
		float: none;
		width: 100%;
		margin: 0;
		text-align: center;
	}
	
	.block-contact {
		margin: 0 0 110px;
	}
	
	.pricelist .btn {
		display: none;
	}
	
	.block-contact {
		height: auto;
	}
	
	.block-contact-phone-header,
	.block-contact-email-header {
		font-size: 20px;
	}
	
	.block-contact-phone {
		font-size: 38px;
		margin: 0 0 25px;
	}
	
	.block-contact-email {
		font-size: 25px;
	}
	
	h1,
	.header {
		font-size: 19px;
	}
	
	.why-we-list__descr {
		font-size: 14px;
	}
	
	footer a {
		text-decoration: underline;
	}
	
	.footer-menu__list {
		text-align: left;
	}
	
	.footer-menu__list li {
		width: auto;
		font-size: 15px;
		padding: 5px;
	}
	
	.car__properties {
		padding: 0 0 0 15px;
	}
}
